<ion-view view-title="Стандарты">
  <ion-content overflow-scroll="false">
      <div class="item-divider" ng-click="i_showing(i_hid)">
          <h3 class="item-icon-right">
              Государственные стандарты
              <i ng-class="{'ion-arrow-up-b':i_hid == 0, 'ion-arrow-down-b':i_hid == 1}"></i>
          </h3>
      </div>
      <div ng-class="{hidden:i_hid == 1}">
          <ion-list>
              <ion-item class="item-icon-right text-left" ng-repeat="st_g in st_gs" type="item-text-wrap" ng-click="view_link(st_g.link)">
                  <h2>{{st_g.name}}</h2>
                  <h3>{{st_g.org}}</h3>
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
          </ion-list>
      </div>
      <div class="item-divider" ng-click="g_showing(i_hid)">
          <h3 class="item-icon-right">
              Международные стандарты
              <i ng-class="{'ion-arrow-up-b':g_hid == 0, 'ion-arrow-down-b':g_hid == 1}"></i>
          </h3>
      </div>
      <div ng-class="{hidden:g_hid == 1}">
          <ion-list>
              <ion-item class="item-icon-right text-left" ng-repeat="st_i in st_is" type="item-text-wrap" ng-click="view_link(st_i.link)">
                  <h2>{{st_i.name}}</h2>
                  <h3>{{st_i.org}}</h3>
                  <i class="icon ion-chevron-right icon-accessory"></i>
              </ion-item>
          </ion-list>
      </div>
</ion-content>
</ion-view>
